#cabecalho {
  color: #FFF;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #00161C;
  position: absolute;
}
#cabecalho .cab-logo {
  margin-bottom: 1rem;
}
#cabecalho .cab-nav {
  text-align: center;
}
#cabecalho .cab-nav .cab-link {
  text-align: center;
}

#chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  text-align: center;
  background-color: #00161C;
  padding-top: 12.25rem;
  padding-bottom: 2.5rem;
}
#chamada .ch-titulo {
  font: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
#chamada .ch-texto {
  font-size: 1.25rem;
  line-height: normal;
  margin: 0 auto 2.5rem;
}/*# sourceMappingURL=style.css.map */