@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-right: 6%;
  padding-left: 6%;
}

.botao {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border: 1px solid #FFF;
  border-radius: 5px;
}

/* _________________________ */
/* _______ cabeçalho _______ */
/* _________________________ */
.cabecalho {
  color: #FFF;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #00161C;
  position: absolute;
}
.cabecalho .cab-logo {
  margin-bottom: 1rem;
}
.cabecalho .cab-nav {
  text-align: center;
}
.cabecalho .cab-nav .cab-link {
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 0.7rem;
  margin-bottom: 1.25rem;
  margin-left: 0.7rem;
}

/* _________________________ */
/* ________ chamada ________ */
/* _________________________ */
.chamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  text-align: center;
  background-color: #00161C;
  padding-top: 12.25rem;
  padding-bottom: 2.5rem;
}
.chamada .ch-titulo {
  font: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.chamada .ch-texto {
  font-size: 1.25rem;
  line-height: normal;
  margin: 0 auto 2.5rem;
}
.chamada .ch-botao {
  width: 100%;
}

/* _________________________ */
/* _______ destaques _______ */
/* _________________________ */
.destaques {
  background-color: #DFE3E5;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
}
.destaques .destaques__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.destaques .destaque__painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.destaques .destaque__painel:hover {
  transform: scale(1.05);
}
.destaques .destaque__painel img {
  max-width: 100%;
  border-radius: 5px;
}
.destaques .destaque__painel .destaque__painel-imagem {
  width: 100vw;
  max-width: 600px;
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.1254901961);
  margin-bottom: 0.5rem;
}
.destaques .destaques__painel-texto {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: normal;
}
.destaques .destaque__botao {
  /* Propriedades para transformar em botão */
  display: inline-block; /* Use inline-block para que o botão possa ser centralizado */
  align-items: center; /* Alinhar itens verticalmente no centro */
  padding: 10px 20px; /* Adicionar padding interno */
  border: none; /* Remover borda padrão */
  border-radius: 5px; /* Arredondar os cantos */
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  font-weight: bold; /* Tornar o texto em negrito */
  cursor: pointer; /* Indicar que é um elemento clicável */
  transition: background-color 0.3s; /* Efeito de transição suave */
  /* Estilos opcionais */
  text-decoration: none; /* Remover sublinhado do texto */
  text-align: center; /* Alinhar o texto no centro */
  font-size: 1rem; /* Tamanho da fonte */
}
.destaques .destaque__botao:hover {
  background-color: #0056b3; /* Cor de fundo azul escuro no hover */
}

/* _________________________ */
/* _______Diferenciais______ */
/* _________________________ */
.diferenciais {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.diferenciais .diferenciais__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.diferenciais .diferenciais__lista .diferenciais__item {
  max-width: 350px;
  box-sizing: border-box;
  padding: 2rem 0 2rem 5rem;
  background-repeat: no-repeat;
  background-position: top 1.25rem left 2.5rem;
}
.diferenciais .diferenciais__lista .diferenciais__item .item__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.diferenciais .diferenciais__lista .diferenciais__item .item__texto {
  line-height: normal;
}
.diferenciais .diferenciais__lista .diferenciais__item--tempo {
  background-image: url(../../img/icone-relogio.png);
}
.diferenciais .diferenciais__lista .diferenciais__item--foco {
  background-image: url(../img/icone-dinheiro.png);
}
.diferenciais .diferenciais__lista .diferenciais__item--especialistas {
  background-image: url(../img/icone-quimica.png);
}

/* _________________________ */
/* __________Sobre__________ */
/* _________________________ */
.sobre {
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-evenly;
}
.sobre .sobre__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}
.sobre .sobre__texto {
  line-height: normal;
  margin-bottom: 1rem;
}
.sobre .sobre__texto .sobre__texto--destaque {
  color: #4F4C4C;
  font-weight: 700;
}

.sobre__plataformas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.sobre__imagem {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  .chamada {
    background-image: url(../../img/bg-intro.jpg);
    background-size: cover;
    padding-top: 8.25rem;
  }
  .chamada .ch-titulo {
    font-size: 3.25rem;
    margin-bottom: 2rem;
  }
  .chamada .diferenciais {
    background-color: #F7F4F4;
  }
  .chamada .diferenciais .diferenciais__lista {
    justify-content: space-around;
  }
  .planos__cartoes {
    flex-direction: row; /* Mudar para layout em linha */
    justify-content: space-between; /* Distribuir os cartões com espaço entre eles */
  }
  .sobre {
    display: flex;
  }
  .sobre .sobre__conteudo {
    margin-right: 3rem;
  }
  .sobre .sobre__conteudo .sobre__titulo {
    text-align: left;
  }
  .sobre .sobre__conteudo .sobre__texto--divisao {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 1.5rem;
  }
  .sobre .sobre__imagem {
    display: block;
  }
  .sobre .planos__cartoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .sobre .planos__cartoes .cartao {
    max-width: 30%;
    margin-bottom: 0;
  }
  .institucional__conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .institucional__video {
    align-self: flex-end;
    width: 375px;
  }
  .institucional__contato-email {
    display: block;
  }
  .rodape {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rodape__navegacao {
    text-align: left;
    min-width: 600px;
  }
}
.planos {
  background-color: #F7F4F4;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.planos__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.planos__cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cartao {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.062745098);
}
.cartao .cartao__titulo {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #DFE3E5;
}
.cartao .cartao__conteudo {
  padding: 0 15%;
}

.cartao__preco {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.cartao__texto {
  color: #666;
  line-height: 28px;
}

.cartao__botao {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  align-self: center;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cartao--start {
  color: #56CCF2;
}

.cartao--ultra {
  color: #B04CD9;
}

.cartao--mega {
  color: #E33B3B;
}

.cartao__botao--start {
  border-color: #56CCF2;
}

.cartao__botao--ultra {
  border-color: #B04CD9;
}

.cartao__botao--mega {
  border-color: #E33B3B;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contato .contato__titulo {
  color: #4F4C4C;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}
.contato .contato__botao {
  color: #4F4C4C;
  border-color: #4F4C4C;
  margin-top: 1rem;
}

.institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fonte-cinza);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.institucional__titulo {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.institucional__descricao {
  margin-bottom: 2rem;
}

.institucional__endereco {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.institucional__contato {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-top: 2rem;
}

.institucional__contato-telefone {
  line-height: normal;
}

.institucional__contato-email {
  color: var(--fonte-link);
  text-decoration: underline;
  display: block;
}

.institucional__video {
  width: 100vw;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.rodape__social {
  display: flex;
}

.rodape__midia {
  display: block;
  width: 42px;
  height: 42px;
  margin: 2rem 1rem;
}

.rodape__navegacao {
  color: #FFF;
  text-align: center;
  line-height: 3;
  cursor: pointer;
}

.rodape__link {
  display: inline-block;
  margin: 0 0.5rem 0.7rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px) / 2);
    padding-right: calc((100% - 940px) / 2);
  }
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  .chamada {
    background-image: url(../../img/bg-intro.jpg);
    background-size: cover;
    padding-top: 8.25rem;
  }
  .chamada .ch-titulo {
    font-size: 3.25rem;
    margin-bottom: 2rem;
  }
  .chamada .diferenciais {
    background-color: #F7F4F4;
  }
  .chamada .diferenciais .diferenciais__lista {
    justify-content: space-around;
  }
  .planos__cartoes {
    flex-direction: row; /* Mudar para layout em linha */
    justify-content: space-between; /* Distribuir os cartões com espaço entre eles */
  }
  .sobre {
    display: flex;
  }
  .sobre .sobre__conteudo {
    margin-right: 3rem;
  }
  .sobre .sobre__conteudo .sobre__titulo {
    text-align: left;
  }
  .sobre .sobre__conteudo .sobre__texto--divisao {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 1.5rem;
  }
  .sobre .sobre__imagem {
    display: block;
  }
  .sobre .planos__cartoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .sobre .planos__cartoes .cartao {
    max-width: 30%;
    margin-bottom: 0;
  }
  .institucional__conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .institucional__video {
    align-self: flex-end;
    width: 375px;
  }
  .institucional__contato-email {
    display: block;
  }
  .rodape {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .rodape__navegacao {
    text-align: left;
    min-width: 600px;
  }
}/*# sourceMappingURL=style.css.map */