@media screen and (min-width: 1024px) {

    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }

    .cabecalho {
       flex-direction: row;
       justify-content: space-between;
       border: none;
    
   }
   @media screen and (min-width: 1024px) {
    .container {
      padding-left: calc((100% - 940px) / 2);
      padding-right: calc((100% - 940px) / 2);
    }
    
    .cabecalho {
      flex-direction: row;
      justify-content: space-between;
      border: none;
    }
  
    .chamada {
      background-image: url(../../img/bg-intro.jpg);
      background-size: cover;
      padding-top: 8.25rem;
    }
  
    .chamada .ch-titulo {
      font-size: 3.25rem;
      margin-bottom: 2rem;
    }
  
    .chamada .diferenciais {
      background-color: #F7F4F4;
    }
  
    .chamada .diferenciais .diferenciais__lista {
      justify-content: space-around;
    }

    .planos__cartoes {
      flex-direction: row; /* Mudar para layout em linha */
      justify-content: space-between; /* Distribuir os cartões com espaço entre eles */
    }
  
    .sobre {
      display: flex;
    }
  
    .sobre .sobre__conteudo {
      margin-right: 3rem;
    }
  
    .sobre .sobre__conteudo .sobre__titulo {
      text-align: left;
    }
  
    .sobre .sobre__conteudo .sobre__texto--divisao {
      border-bottom: 1px solid #D9D9D9;
      padding-bottom: 1.5rem;
    }
  
    .sobre .sobre__imagem {
      display: block;
    }
  
    .sobre .planos__cartoes {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }
  
    .sobre .planos__cartoes .cartao {
      max-width: 30%;
      margin-bottom: 0; // remove margin-bottom para alinhar corretamente
    }
  
    .institucional__conteudo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
  
    .institucional__video {
      align-self: flex-end;
      width: 375px;
    }
  
    .institucional__contato-email {
      display: block;
    }
  
    .rodape {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .rodape__navegacao {
      text-align: left;
      min-width: 600px;
    }
  }
} 