@media only screen and (min-width: 1214px) {

    .planos__cartoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    }




@media only screen and (max-width: 1214px) and (min-width: 1000px) {

}

@media only screen and (max-width: 500px) {

}