@import '../abstract/variaveis';

/* _________________________ */
/* _______ cabeçalho _______ */
/* _________________________ */


.cabecalho {
    color: $cor-branco;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid $cor-bg-chamada-mobile;
    position: absolute;
    
    .cab-logo {
        margin-bottom: 1rem;

    }
    .cab-nav {
        text-align: center;

        .cab-link {
            font-size: 1.1rem;

            display: inline-block;
        
            margin-right: .7rem;
            margin-bottom: 1.25rem;
            margin-left: .7rem;
        }
    }
}