@import '../abstract/variaveis';

#chamada {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $cor-branco ;
    text-align: center;
    
    background-color: #00161C;

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;

    .ch-titulo {
        font: $fonte-mont;
        font-weight: 700;
        text-transform: uppercase;
    
        margin-bottom: 1.5rem;
    }
    
    .ch-texto {
        font-size: 1.25rem;
        line-height: normal;
    
        margin: 0 auto 2.5rem;
    }
    
}