@import '../abstract/variaveis';

/* _________________________ */
/* _______ destaques _______ */
/* _________________________ */

.destaques {

    background-color: $cor-azul-claro;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    text-align: center;

   

    .destaques__titulo {

        color: $cor-cinza-escuro;
        font-weight: 700;
        font-size: 1.5rem;
        font-family: $fonte-mont;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
    }

    .destaque__painel {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        
        &:hover {
            transform: scale(1.05);
        }

        img {
            max-width: 100%;
            border-radius: 5px;
        }
       

        .destaque__painel-imagem {

            width: 100vw; // vw para o viewport width em mobile first
            max-width: 600px; //limitar o tamanho da tela e sua distorção
            box-shadow: 0 2px 10px 5px #00000020;
            margin-bottom: .5rem;
        }

        
    
      

    }
       
    .destaques__painel-texto {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: normal;

        
    }

    .destaque__botao {
        /* Propriedades para transformar em botão */
      display: inline-block; /* Use inline-block para que o botão possa ser centralizado */
      align-items: center; /* Alinhar itens verticalmente no centro */
      padding: 10px 20px; /* Adicionar padding interno */
      border: none; /* Remover borda padrão */
      border-radius: 5px; /* Arredondar os cantos */
      background-color: #007bff; /* Cor de fundo azul */
      color: #fff; /* Cor do texto branco */
      font-weight: bold; /* Tornar o texto em negrito */
      cursor: pointer; /* Indicar que é um elemento clicável */
      transition: background-color 0.3s; /* Efeito de transição suave */
    
      /* Estilos opcionais */
      text-decoration: none; /* Remover sublinhado do texto */
      text-align: center; /* Alinhar o texto no centro */
      font-size: 1rem; /* Tamanho da fonte */
    }
    
    .destaque__botao:hover {
      background-color: #0056b3; /* Cor de fundo azul escuro no hover */
    }
    
}